# Python
venv/
__pycache__/
*.pyc
ven/

# Environment
.env

# Scripts locales proxy
cloud_sql_proxy.exe
credentials*.json
*.key.json
proxy_connection*

# Editor de código
.vscode/


# Frontend - artefactos

frontend/**/node_modules/
frontend/**/dist/
frontend/**/build/


# Frontend viejo 

frontend/prevalidator/
