# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc

# ======================
# Environment
# ======================
.env

# ======================
# Editor
# ======================
.vscode/

# ======================
# Frontend - artefactos
# ======================
frontend/**/node_modules/
frontend/**/dist/
frontend/**/build/

# ======================
# Frontend viejo (NO se versiona)
# ======================
frontend/prevalidator/
