# Python
venv/
__pycache__/
*.pyc
ven/

# Environment
.env

# Editor de código
.vscode/


# Frontend - artefactos

frontend/**/node_modules/
frontend/**/dist/
frontend/**/build/


# Frontend viejo 

frontend/prevalidator/
